DATABASE_URL=database_url

PORT=4000
NODE_ENV=development

COOKIE_SECRET=cookie_secret

FRONTEND_ORIGIN=http://localhost:3000

FREE_DAILY_LIMIT=20
GLOBAL_DAILY_CEILING=2000
GEMINI_API_KEY=gemini_secert
GEMINI_MODEL=gemini-2.5-flash,